<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.traversoft.favebakes"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.traversoft.favebakes.FaveBakesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements"/>

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BakeryListingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="https"
                    android:host="traversoft.com"
                    android:pathPrefix="/favebakes"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="http"
                    android:host="traversoft.com"
                    android:pathPrefix="/favebakes"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BakeryDetailsActivity"
            android:label="@string/title_activity_bakery_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="https"
                    android:host="traversoft.com"
                    android:pathPrefix="/favebakes/details"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="http"
                    android:host="traversoft.com"
                    android:pathPrefix="/favebakes/details/"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.AppIndexingService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX"/>
            </intent-filter>
        </service>

    </application>

</manifest>